.product-form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 95%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #853002;
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #fd7c04;
}

.message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
.navbar-inventory {
  background-color: #853002;
  padding: 10px 20px;
  color: #fff;
}

.navbar-content-inventory {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title-inventory {
  margin: 0;
}

.navbar-links-inventory {
  display: flex;
  gap: 15px;
}

.navbar-link-inventory {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar-link-inventory:hover {
  background-color: #fd7c04;
  border-radius: 5px;
}
.link {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .navbar-link-inventory{
    gap: 0px;
  }
  .navbar-title-inventory{
    font-size: 20px;
  }
}